p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}

button {
  margin: 0;
  padding: 0;
}

.trip-title {
  background-size: 100%;
  height: 300px;
  border: 3px solid #454242ab;
  background-image: url("./img/place-icon.jpg");
  margin-bottom: 5%;
}

.trip-title img {
  width: 50px;
  padding-right: 30px;
}

.title-recommend {
  padding-right: 30px;
}

.title-bar {
  display: flex;
  height: 100px;
  flex-flow: wrap;
  align-items: center;
  background-color: #454242ab;
}

.title-days {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.start-day {
  margin-right: 3%;
}

.trip-schedule {
  height: 150px;
}

.trip-schedule-bar {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  height: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.arrow-day-button {
  width: 10%;
  height: 100%;
}

.oneday-button {
  width: 30%;
  height: 100%;
}

.trip-schedule-table {
  padding: 0 5%;
}

.day {
  padding: 5% 0;
  border-bottom: 10px solid black;
}

.day-icon {
  padding: 1% 0;
  display: flex;
}

.day-icon p {
  padding-right: 10px;
}

.spot {
  display: flex;
  justify-content: space-around;

  border: 3px solid black;
  align-items: center;
}

.spot-icon {
  width: 100px;
  height: 100px;
}

.spot-icon img {
  width: 100%;
}

.spot-time-info {
  display: flex;
}

.spot-time-info p {
  font-size: 30px;
}

.place-address {
  display: flex;
}

.place-address p {
  font-size: 25px;
}

.place-button button {
  float: right;
  width: 100px;
  height: 100px;
}

.transit {
  display: flex;
  padding: 5%;
  align-items: center;
}

.transit-icon {
  margin-right: 3%;
}

.transit-icon img {
  width: 130px;
  height: 130px;
}
